.contactForm {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 32px;
  box-shadow: 0 4px 16 #ccc;
  width: 300px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.formTitle {
  text-align: center;
  font-weight: normal;
}

.group {
  position: relative;
  margin-bottom: 32px;
}

.formLabel {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: 0.3s;
}

.formField {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;

  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.formField:focus {
  border-bottom: 1px solid #0d222e;
}

.formButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #3d6233;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.formButton:focus,
.formButton:hover {
  background-color: rgba(28, 71, 28, 0.7);
}

.formField:focus ~ .formLabel,
.formField:not(:placeholder-shown) ~ .formLabel {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0;
}
