.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.wrapperFormName {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.wrapperFormNumber {
  display: flex;
  gap: 5px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.input {
  max-width: 150px;
  border: 1px solid #ccc;
  margin-left: 20px;
}

.btn {
  max-width: 150px;
  max-height: 30px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3d6233;
  border-color: transparent;
}

.errorMessageName {
  color: red;
  position: absolute;
  top: 30px;
}

.errorMessageNumber {
  color: red;
  position: absolute;
  top: 90px;
}
